<launch>
  <arg name="num_target" default="2"/>
  <arg name="num_robot" default="2"/>
  <arg name="num_layer" default="1"/>
  <!--<arg name="verbal_flag" default="true"/>-->
  <arg name="epsilon" default="0.1"/>
  <arg name="num_motion_primitive" default="5"/>
  <arg name="time_interval" default="7"/>

  <node type="max_min_lp_simulation_greedy_central_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_central_node" output="screen">
    <param name="num_target" type="int" value="$(arg num_target)"/>
    <param name="num_robot" type="int" value="$(arg num_robot)"/>
    <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
    <param name="num_layer" type="int" value="$(arg num_layer)"/>
    <param name="fov" type="int" value="5"/>
    <param name="objective_option" type="str" value="number_of_targets"/> <!--Two options: 1) "quality_of_tracking", and 2) "number_of_targets"-->
    <param name="verbal_flag" type="bool" value="true"/>
    <param name="epsilon" type="double" value="$(arg epsilon)"/>
  </node>

  <group ns="robot_1">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="1"/>
      <param name="robot_name" type="str" value="robot_1"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>
  </group>
  <group ns="robot_2">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="2"/>
      <param name="robot_name" type="str" value="robot_2"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>
  </group>
</launch>
