<launch>
  <arg name="num_target" default="30"/>
  <arg name="num_robot" default="5"/>
  <arg name="num_layer" default="2"/>
  <!--<arg name="verbal_flag" default="true"/>-->
  <arg name="epsilon" default="0.1"/>
  <arg name="num_motion_primitive" default="2"/>
  <arg name="time_interval" default="20"/>

  <node type="max_min_lp_simulation_greedy_central_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_central_node" output="screen">
    <param name="num_target" type="int" value="$(arg num_target)"/>
    <param name="num_robot" type="int" value="$(arg num_robot)"/>
    <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
    <param name="num_layer" type="int" value="$(arg num_layer)"/>
    <param name="fov" type="double" value="3"/>
    <param name="objective_option" type="str" value="number_of_targets"/> <!--Two options: 1) "quality_of_tracking", and 2) "number_of_targets"-->
    <param name="verbal_flag" type="bool" value="true"/>
    <param name="epsilon" type="double" value="$(arg epsilon)"/>
  </node>

  <node type="get_target_odom_node" pkg="max_min_lp_simulation" name="get_target_odom_node" output="screen"/>

  <node type="get_total_num_target_node" pkg="max_min_lp_simulation" name="get_total_num_target_node" output="screen"/>

  <group ns="robot_1">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="1"/>
      <param name="robot_name" type="str" value="robot_1"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>

    <node type="apply_motion_primitive_node" pkg="max_min_lp_simulation" name="apply_motion_primitive_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="1"/>
      <param name="robot_name" type="str" value="robot_1"/>
    </node>

    <node type="get_odom_node" pkg="max_min_lp_simulation" name="get_odom_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="1"/>
      <param name="robot_name" type="str" value="robot_1"/>
    </node>
  </group>

  <group ns="robot_2">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="2"/>
      <param name="robot_name" type="str" value="robot_2"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>

    <node type="apply_motion_primitive_node" pkg="max_min_lp_simulation" name="apply_motion_primitive_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="2"/>
      <param name="robot_name" type="str" value="robot_2"/>
    </node>

    <node type="get_odom_node" pkg="max_min_lp_simulation" name="get_odom_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="2"/>
      <param name="robot_name" type="str" value="robot_2"/>
    </node>
  </group>

  <group ns="robot_3">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="3"/>
      <param name="robot_name" type="str" value="robot_3"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>

    <node type="apply_motion_primitive_node" pkg="max_min_lp_simulation" name="apply_motion_primitive_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="3"/>
      <param name="robot_name" type="str" value="robot_3"/>
    </node>

    <node type="get_odom_node" pkg="max_min_lp_simulation" name="get_odom_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="3"/>
      <param name="robot_name" type="str" value="robot_3"/>
    </node>
  </group>

  <group ns="robot_4">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="4"/>
      <param name="robot_name" type="str" value="robot_4"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>

    <node type="apply_motion_primitive_node" pkg="max_min_lp_simulation" name="apply_motion_primitive_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="4"/>
      <param name="robot_name" type="str" value="robot_4"/>
    </node>

    <node type="get_odom_node" pkg="max_min_lp_simulation" name="get_odom_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="4"/>
      <param name="robot_name" type="str" value="robot_4"/>
    </node>
  </group>

  <group ns="robot_5">
    <node type="max_min_lp_simulation_greedy_robot_node" pkg="max_min_lp_simulation" name="max_min_lp_simulation_greedy_robot_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="5"/>
      <param name="robot_name" type="str" value="robot_5"/>
      <param name="num_layer" type="int" value="$(arg num_layer)"/>
      <param name="verbal_flag" type="bool" value="false"/>
      <param name="epsilon" type="double" value="$(arg epsilon)"/>
      <param name="num_motion_primitive" type="int" value="$(arg num_motion_primitive)"/>
      <param name="time_interval" type="int" value="$(arg time_interval)"/>
    </node>

    <node type="apply_motion_primitive_node" pkg="max_min_lp_simulation" name="apply_motion_primitive_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="5"/>
      <param name="robot_name" type="str" value="robot_5"/>
    </node>

    <node type="get_odom_node" pkg="max_min_lp_simulation" name="get_odom_node" output="screen">
      <param name="num_target" type="int" value="$(arg num_target)"/>
      <param name="num_robot" type="int" value="$(arg num_robot)"/>
      <param name="robot_id" type="int" value="5"/>
      <param name="robot_name" type="str" value="robot_5"/>
    </node>
  </group>
</launch>
